<!DOCTYPE html>
<html>
<body>

<form action="" method = "post">{% csrf_token %}
  V Start:
  <input type="number" name="vstart" value="0" autofocus>mV
  <br><br>
  V Stop :
  <input type="number" name="vstop" value="0" autofocus>mV
  <br><br>
  Delay  :
  <input type="number" name="delay" value="0" autofocus>ms
  <br><br>
  Opset  :
  <input type="number" name="opset" value="0" autofocus>mV
  <br><br>
  <input type="submit" value="Submit" autofocus>
</form> 

</body>
</html>

