<!DOCTYPE html>
<html>
<body>

<form action="http://localhost:5000/formin" method = "post">
  V Start:
  <input type="number" name="vmin" value="0">mV
  <br><br>
  V Stop :
  <input type="number" name="vmax" value="800">mV
  <br><br>
  V cc :
  <input type="number" name="vcc" value="3300">mV
  <br><br>
  Pulse Width :
  <input type="number" name="pw" value="50">ms
  <br><br>
  Period :
  <input type="number" name="t" value="100">ms
  <br><br>
  Amplitude :
  <input type="number" name="a" value="50">mV
  <br><br>
  Step E :
  <input type="number" name="e" value="10">mV
  <br><br>
  loop :
  <input type="number" name="loop" value="3">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>

