<!DOCTYPE html>
<html>
<body>

<form action="http://localhost:5000/formin" method = "post">
  V Start:
  <input type="number" name="vmin" value="0">mV
  <br><br>
  S Stop :
  <input type="number" name="vmax" value="0">mV
  <br><br>
  Pulse Width :
  <input type="number" name="pw" value="0">ms
  <br><br>
  Period :
  <input type="number" name="t" value="0">ms
  <br><br>
  Amplitude :
  <input type="number" name="a" value="0">mV
  <br><br>
  Step E :
  <input type="number" name="vmax" value="0">mV
  <br><br>
  loop :
  <input type="number" name="loop" value="0">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
