<!DOCTYPE html>
<html>
<head>
	<title>INPUT</title>
</head>
<body>
	date time <input type="datetime-local" name="vmax" "> <br>
	date time <input type="date" name="vmax" "> <br>
	checkbox <input type="checkbox" name="vmax" "> <br>
	color <input type="color" name="vmax" "> <br>
	file <input type="file" name="vmax" "> <br>
	image <input type="image" name="vmax" "> <br>
	radio <input type="radio" name="vmax" "> <br>
	button <input type="button" value="click" onclick="msg()" "> <br>
</body>
	<script type="text/javascript">
		function msg()
		{
			alert("Fuck!!!");
		}
	</script>
</html>